<div class="container">
  <h3 style="color: crimson">Change Password</h3>
  <div class="ui form fields">
    <div class="box">
      <h3><b>Note:</b> Please Logout from GTM application before changing password</h3>
    </div>
    <br />
  </div>

  <div class="ui form fields">
    <div class="field">
      <label>Username</label>
      <h4 style="color: mediumblue">{{ transmissionService.userDetails.name }}</h4>
    </div>
    <br />
  </div>
  <div class="ui form fields">
    <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" (keyup)="matchPassword()" required>
      <div class="ui form field">
        <label>New Password</label>
        <input type="password" formControlName="newPassword" />
        <mat-error
          *ngIf="
            changePasswordForm.get('newPassword')?.touched &&
            changePasswordForm.get('newPassword')?.hasError('required')
          "
        >
          New Password is required
        </mat-error>
        <mat-error
          *ngIf="
            changePasswordForm.get('newPassword')?.touched &&
            changePasswordForm.get('newPassword')?.hasError('minlength')
          "
        >
          Password must be 8 character
        </mat-error>
        <mat-error
          *ngIf="
            changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('pattern')
          "
        >
          Password must contains uppercase and special char
        </mat-error>
      </div>
      <div class="ui form field">
        <label>Retype Password</label>
        <input type="password" formControlName="confirmPassword" (keyup)="matchPassword()" />
        <mat-error *ngIf="passNotMatched"> Password does not match </mat-error>
      </div>
      <button class="ui submit button primary" id="button" [disabled]="true">Update Password</button>
    </form>
    <br />
  </div>
</div>
<div class="alert-box" id="a" style="visibility: hidden">
  <span
    ><h4 style="color: darkgreen">Press below Icon to Refresh Status</h4>
    <a Style="size: 0vmax;" class="circular small basic ui icon button" (click)="getfreshStatuss()">
      <i class="exchange icon"></i></a
  ></span>
</div>
