<ng-container *ngIf="!error">
  <mat-tab-group dynamicHeight [color]="transmissionService.getInstanceColor()">
    <mat-tab label="Download Template">
      <app-shared-tab [hasChild]="true" [tabTitle]="'Order Base'" [itemService]="itemService" [isAdminTab]="false"></app-shared-tab>
    </mat-tab>
    <mat-tab label="Create Template">
      <app-shared-tab [hasChild]="true" [tabTitle]="'Order Base '" [itemService]="itemService" [isAdminTab]="true"></app-shared-tab>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="itemService.loader.i || itemService.loader.d">
    <div class="ui active inverted dimmer">
      <ng-container *ngIf="itemService.loader.d">
        <h2 class="example-h2">{{ itemService.uploadProgress }} %</h2>
        <mat-progress-bar
          [color]="transmissionService.getInstanceColor()"
          style="width:50%"
          [bufferValue]="itemService.uploadProgress + 20"
          mode="buffer"
          [value]="itemService.uploadProgress"
        ></mat-progress-bar>
      </ng-container>
      <div *ngIf="itemService.loader.i" class="ui active inverted dimmer">
        <div class="ui text loader">Loading</div>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="error" class="alert danger">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <div class="alert-header">
    {{ error }}
  </div>
</div>
