.transmission_column {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.two.wide {
  min-width: 180px !important;
}

.button_mr-10 {
  margin-right: 12px;
}
.cdk-drag-disabled {
  // background: #ccc;
  cursor: default;
}
