<mat-tab-group *ngIf="!error && !loader" dynamicHeight [color]="transmissionService.getInstanceColor()">
  <mat-tab label="Audit">
    <br />
    <div class="p-24px">
      <ng-container *ngIf="fileDeleted">
        <div class="alert info">
          <div class="alert info">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <div class="alert-header">
              <h3 *ngIf="deletedFileName">File {{ deletedFileName }} purged</h3>
              <h3 *ngIf="!deletedFileName">All files purged</h3>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="ui eight fluid  cards">
        <div class="ui card" *ngFor="let item of sidebar">
          <div class="content">
            <div class="header">
              <h4>
                {{ item.name }}
                <mat-icon class="right floated" [inline]="true" color="{{ transmissionService.getInstanceColor() }}">
                  {{ item.icon }}
                </mat-icon>
              </h4>
            </div>
            <div *ngIf="countData.data" class="meta">
              <span class="date"
                >Total upload :
                {{ countData.data[getCount(item.name)] || 0 }}
              </span>
            </div>
            <div *ngIf="!countData.data" class="meta">
              <span class="date">Total upload :0 </span>
            </div>
          </div>
        </div>
      </div>
      <br />

      <table class="ui compact basic celled  table" *ngIf="auditFiles.length > 0">
        <thead class="full-width">
          <tr>
            <th
              style="text-align: center"
              class="one wide"
              [class.active]="order === 'uploaduser'"
              (click)="setOrder('id')"
            >
              <span *ngIf="transmissionService.userDetails.role == 'ADMIN'"
                ><button
                  (click)="deleteAll()"
                  mat-icon-button
                  color="{{ transmissionService.getInstanceColor() }}"
                  aria-label="Example icon-button with a heart icon"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button></span
              >
              <span [hidden]="reverse">▼</span> <span [hidden]="!reverse">▲</span>
            </th>
            <th [class.active]="order === 'uploaduser'" (click)="setOrder('uploaduser')">
              Upload User <span [hidden]="reverse">▼</span> <span [hidden]="!reverse">▲</span>
            </th>
            <th class="two wide" [class.active]="order === 'userrole'" (click)="setOrder('userrole')">
              User Role <span [hidden]="reverse">▼</span> <span [hidden]="!reverse">▲</span>
            </th>
            <th [class.active]="order === 'filename'" (click)="setOrder('filename')">
              File Name <span [hidden]="reverse">▼</span> <span [hidden]="!reverse">▲</span>
            </th>
            <th class="three wide" [class.active]="order === 'uploaddate'" (click)="setOrder('uploaddate')">
              Upload Date <span [hidden]="reverse">▼</span> <span [hidden]="!reverse">▲</span>
            </th>
            <th class="one wide" style="text-align: center">Download</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let item of collection
                | orderBy: order:reverse:true
                | paginate: { itemsPerPage: itemsPerPage, currentPage: pg };
              let i = index
            "
          >
            <td style="text-align: center">
              <span *ngIf="transmissionService.userDetails.role == 'ADMIN'"
                ><button
                  color="{{ transmissionService.getInstanceColor() }}"
                  (click)="deleteFile(item)"
                  mat-icon-button
                  color="warn"
                  aria-label="Example icon-button with a heart icon"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button></span
              >
              {{ item.id }}
            </td>
            <td>{{ item.uploaduser }}</td>
            <td>{{ item.userrole }}</td>
            <td>{{ item.filename }}</td>
            <td>{{ item.uploaddate | date: 'yyyy/MM/dd hh:mm:ss' }}</td>
            <td style="text-align: center">
              <a #dlink (click)="getFile(item)" class="circular small basic ui icon button">
                <i class="download icon"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="auditFiles.length > 0">
        <div [attr.colspan]="10">
          <pagination-controls
            class="{{ transmissionService.getInstanceClass() }}"
            style="text-align: center"
            (pageChange)="countItems($event)"
            (pageChange)="pg = $event"
          >
          </pagination-controls>
        </div>
      </div>
      <h5 *ngIf="auditFiles.length == 0 && !fileDeleted">No Audit files found</h5>
    </div>
  </mat-tab>
</mat-tab-group>

<div *ngIf="error" class="alert danger">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <div class="alert-header">
    {{ error }}
  </div>
</div>

<div *ngIf="loader" class="ui active inverted dimmer">
  <mat-spinner [color]="transmissionService.getInstanceColor()"></mat-spinner>
</div>
