<div class="p-24px">
      <app-settings *ngIf="!error" [newItemProps]="newTrackingEventProps" [showLoader]="showLoader" [filters]="filters"
        [count]="count" [itemsPerPage]="itemsPerPage" (parentcountItems)="countItems($event)"
        (parentfilterItems)="filterItems($event)" (parentonSearch)="onSearch($event)" (parentonChange)="onChange($event)"
        [elements]="adminService.trackingEventProps"></app-settings>
    
      <div *ngIf="error" class="alert-setting danger">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div class="alert-header">
          {{ error }}
        </div>
      </div>
    </div>
    